boto3==1.16.6
botocore==1.19.6
certifi==2018.8.13
chardet==3.0.4
charset-normalizer==2.0.5
click==6.7
Flask==1.0.2
future==0.16.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
jmespath==0.10.0
MarkupSafe==1.0
Naked==0.1.31
pefile==2018.8.8
pycryptodome==3.6.6
python-dateutil==2.8.2
PyYAML==3.13
requests==2.26.0
s3transfer==0.3.7
shellescape==3.4.1
six==1.16.0
urllib3==1.25.10
Werkzeug==0.14.1
xmltodict==0.11.0
